* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header{
  text-align: center;
}

header h1{
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}

header h3{
    font-size: 0.875rem;
    font-weight: 400;
    max-width: 350px;
    color: #8E8E8E;
}

.gameStatus{
  text-align: center;
  margin-top: 50px;
  padding: 1px 0;
  background-color: #10A95B;
  color: #F9F4DA;
}

.gameStatus h3{
  margin: 16px 0 0 0;
  font-weight: 500;

}
.gameStatus p{
    margin: 4px 0 8px 0;
    font-weight: 500;
}

.languageList{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
  max-width: 350px;
}

.languageList div{
  padding: 4.5px;
  border-radius: 4px;
  font-weight: 500;
}

.word{
  margin-top: 40px;
  font-weight: 700;
  text-align: center;
  color: #F9F4DA;
}

.word span{
  font-size: 1.5rem;
  border-bottom: 3px solid #F9F4DA;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 1px;
  text-align: center;
  background-color: #323232;
  padding: 5px;
}